@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html {
    font-size: 62.5%;

}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    color: $black;
    margin: 0;
}

.main {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__container {
        width: 100%;
        max-width: 120rem;
        margin: 0 auto;
    }
}

img {
    max-width: 100%;
    height: auto;
}