.card {
  &__container {
    width: 100%;
    max-width: 222px;
  }

  &__image {
    width: 100%;
    box-sizing: border-box;

    img{
      width: 100%;
      height: 222px;
      border-radius: 1rem;
      box-shadow: 1px 2px 4px var(--black);;
    }
  }

  &__content {
    padding: 1.6rem;

    h3 {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.8rem;
      color: var(--black);
    }

    p {
      font-size: 1.8rem;
      line-height: 2.1rem;
      margin-bottom: 1rem;
    }
  }

  &__facilities {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    grid-gap: 0.5rem;
    margin: 1rem auto;
    list-style-type: none;

    &__item {
      background-color: var(--green);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      &--unchecked {
        background-color: var(--lightGray);
      }

      &--set{
        padding: 13%;
        width: 100%;
        
      }

    }
  }

  &__button{
    &__link{
      text-decoration: none;
      color: var(--white);
      font-weight: bold;
    }
  }
}
