.curadora {
  &__container {
    align-items: center;
    background-color: rgba(0, 182, 193, .5);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 100%;
  }

  &__img {
    &--size {
      border: 1px solid var(--lightGray);
      border-radius: 50%;
      height: auto;
      max-width: 90px;
      margin: 3rem 2rem 3rem 2rem;
      overflow: hidden;
    }
  }

  &__info {
    margin-left: 2rem;
    width: 56%;

    @media (max-width:480px){
      margin: 0 0 0 0;
      width: 85%;
      padding-bottom: 2rem;
    }

  }

  &__title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    &--job {
      color: var(--darkGray);
      font-weight: lighter;
      font-size: 1.2rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    text-align: justify;
  }
}
